<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex justify-center bg-purple-800">
    <div class="flex flex-col justify-center text-center gap-10 mt-20" >
            <img src="/images/error.png" alt="error" class="w-80 m-auto"> 
            <a href="/api/v1/admin" class="bg-zinc-200 text-cyan-500 w-52 font-semibold text-center m-auto p-2 rounded-md hover:bg-slate-800">Go Home</a>
    </div>
</body>
</html>