<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.2/dist/tailwind.min.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-600">


    <header class=" text-white p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-xl font-bold ">PlaceTrack</h1>
            <nav class="space-x-4">
                <a href="/" class="hover:underline">Home</a>
                <a href="/contact" class="hover:underline">Contact</a>
            </nav>
        </div>
    </header>

    <div class="min-h-screen flex items-center justify-center">

        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">User Login</h1>
        <form action="/api/v1/user/login" method="POST" class="space-y-6">
            <div>
                <label for="email" class="block text-gray-700 text-sm font-medium mb-2">Email</label>
                <input type="email" id="email" name="email" required class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-cyan-400" placeholder="you@example.com">
            </div>
            <div>
                <label for="password" class="block text-gray-700 text-sm font-medium mb-2">Password</label>
                <input type="password" id="password" name="password" required class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-cyan-400" placeholder="********">
            </div>
            <div>
                <button type="submit" class="w-full bg-cyan-500 text-white text-lg p-3 rounded-md hover:bg-cyan-600 focus:outline-none focus:ring-2 focus:ring-cyan-400">Login</button>
            </div>
            <div class="text-center">
                <a href="/api/v1/user/signup" class="text-cyan-500 hover:underline">Create an account</a>
            </div>
        </form>
    </div>
    </div>
</body>
</html>
